<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797779674552-i0bvkfd6hghgriseqnralp6s3u8pe1d2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797779674552-i0bvkfd6hghgriseqnralp6s3u8pe1d2</string>
	<key>API_KEY</key>
	<string>AIzaSyBwedtxbPakDBBvJ4pyzJauQC7wuntp2UA</string>
	<key>GCM_SENDER_ID</key>
	<string>797779674552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lesgens.pokeReview</string>
	<key>PROJECT_ID</key>
	<string>pokereview-7f7ed</string>
	<key>STORAGE_BUCKET</key>
	<string>pokereview-7f7ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797779674552:ios:da338ad60e929897d83b4d</string>
</dict>
</plist>